/**
 * @author Alex Gibson
 * @name SketchPad
 * @desc Multi-touch sketchpad demo for line drawing
 */

/* HTML5 CSS Reset ----------- */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000; font-style:italic;font-weight:bold;}del{text-decoration: line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}

/* App CSS styles ----------- */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } /* http://paulirish.com/2012/box-sizing-border-box-ftw/ */

html { 
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}

body {
 	overflow: hidden;
}

canvas {
	cursor: crosshair;
	z-index: 1;
}

.options {
	display: none;
	position: absolute;
	width: 60%;
	height: 50%;
	top: 50%;
	left: 50%;
	margin-top: -25%;
	margin-left: -30%;
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-animation-name: scaleUp;
	-webkit-animation-duration: 0.7s;
	-moz-animation-name: scaleUp;
	-moz-animation-duration: 1s;
	-o-animation-name: scaleUp;
	-o-animation-duration: 1s;
	animation-name: scaleUp;
	animation-duration: 1s;
}

@-webkit-keyframes scaleUp {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@-moz-keyframes scaleUp {
	0% {
		-moz-transform: scale(0);
		opacity: 0;
	}
	100% {
		-moz-transform: scale(1);
		opacity: 1;
	}
}

@-o-keyframes scaleUp {
	0% {
		-o-transform: scale(0);
		opacity: 0;
	}
	100% {
		-o-transform: scale(1);
		opacity: 1;
	}
}

@keyframes scaleUp {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}